<header class="d-flex">
  <a href="https://algostarface.com/">
    <img class="backtohome" src="./home3.png" alt="">
  </a>
</header>
<section style="margin-top: 10vh;">
  <!-- <img class="logo" src="./logo.PNG" alt=""> -->
  <img class="logo" src="./LOGO3.png" alt="">
  <div class="counter">
    <div class="counter-item">
      <p><span class="counternum" id="days"></span> <br> Days</p>
    </div>
    <div class="counter-item">
      <p><span class="counternum" id="hours"></span> <br> Hours</p>
    </div>
    <div class="counter-item">
      <p><span class="counternum" id="minutes"></span> <br> Minutes</p>
    </div>
    <div class="counter-item">
      <p><span class="counternum" id="seconds"></span> <br> Seconds</p>
    </div>
  </div>
</section>


<% if (shuffle) { %>
  <!-- SI SE PUEDE PARTICIPAR -->

  <% if(participated){ %>
    <!-- SI PARTICIPO -->
    <% if(shuffleStatus){ %>
      <!-- PARTICIPO Y SHUFFLE ON -->
      <section class="message-section" style="">
        <h3 class="message">Congratulations! You are now participating in the shuffle with <span class="participantsnum">
            <%= amountParticipated %>
          </span> total participants. Good Luck!</h3>
        <button type="button" id="disclaimer_btn" style="color: #B586FA; background-color: inherit; border: 0"
          data-bs-toggle="modal" data-bs-target="#disclaimer" class="mt-2">
          View Disclaimer
        </button>
      </section>
    <% } else{ %>
      <!-- PARTICIPO Y SHUFFLE OFF -->
      <% if(winners){ %>
        <!-- PARTICIPO, SHUFFLE OFF Y ESTÁN LOS GANADORES -->
        <% if(hasWon){ %>
          <!-- PARTICIPO, SHUFFLE OFF, YA ESTÁN LOS GANADORES Y ES GANADOR -->
          <section class="participate-section" style="">
            <h2 class="text-center mb-4" style="font-weight: bold;">Congratulations!</h2>
            <h3 class="message mb-4">You have been selected as a winner of our shuffle! You are now eligible and have
              the priority to buy an Algo Starface NFT. <br> Please leave us your twitter username so we can contact
              you!</h3>
            <section class="form-section">
              <form class="d-flex justify-content-center flex-column align-items-center" action="#" method="post"
                id="twForm">
                <input class="mb-3 p-2" style="width: 200px" type="text" name="tiwtter_user" id="tiwtter_user"
                  placeholder="@TwitterUsername">
                <input type="hidden" name="walletId" id="walletId" value="<%= walletId %>">
                <button class="form-btn" type="submit">Send</button>
              </form>
            </section>
            <button type="button" id="disclaimer_btn" style="color: #B586FA; background-color: inherit; border: 0"
              data-bs-toggle="modal" data-bs-target="#disclaimer" class="mt-2">
              View Disclaimer
            </button>
          </section>
        <% } else{ %>
          <!-- PARTICIPO, SHUFFLE OFF, YA ESTÁN LOS GANADORES Y NO ES GANADOR -->
          <p class="text-center">Unfortunately you are not one of the lucky ones. Thanks for participating and good luck in the next one!</p>
        <% } %>
      <% } else{ %>
        <!-- PARTICIPO, SHUFFLE OFF Y NO ESTÁN LOS GANADORES -->
        <section class="shuffle_close_section">
          <h3 class="text-center message_shuffle_off">Shuffle is now closed. Winner's will be announced soon!</h3>
          <button type="button" id="disclaimer_btn" style="color: #B586FA; background-color: inherit; border: 0"
            data-bs-toggle="modal" data-bs-target="#disclaimer" class="mt-2">
            View Disclaimer
          </button>
        </section>
      <% } %>
  
    <% } %>
  <% } else{ %>
    <!-- SI NO PARTICIPO -->
    <% if(shuffleStatus){ %>
      <!-- NO PARTICIPO Y SHUFFLE ON -->
      <section class="participate-section" style="">
        <button class="btn connect-btn mb-4 button_connect" id="participateBtn"
          onclick="connectToMyAlgo()">CONNECT</button>
        <p class="text-center message_active mt-3 mb-1">Registration is now open. Please connect your wallet to
          participate in our shuffle.</p>
        <button type="button" id="disclaimer_btn" style="color: #B586FA; background-color: inherit; border: 0"
          data-bs-toggle="modal" data-bs-target="#disclaimer" class="mt-2">
          View Disclaimer
        </button>
      </section>
    <% } else{ %>
      <!-- NO PARTICIPO Y SHUFFLE OFF -->
      <section class="participate-section" style="">
        <button class="btn connect-btn mb-4 button_connect" id="participateBtn"
          onclick="connectToMyAlgo()">CONNECT</button>
        <h4 class="message message_inactive m-4">Registration for our shuffle is now closed. <br> Connect your wallet to see if you won.</h4>
        <button type="button" id="disclaimer_btn" style="color: #B586FA; background-color: inherit; border: 0"
          data-bs-toggle="modal" data-bs-target="#disclaimer" class="mt-2">
          View Disclaimer
        </button>
      </section>
    <% } %>
  <% } %>
 <% } else { %>
  <!-- SI NO SE PUEDE PARTICIPAR -->
  <p class="text-center">Next shuffle will be open for registration on Monday 20 at 4PM EST</p>
<% } %>
<input hidden type="text" name="shuffle_date" id="shuffle_date" value="<%= date %>">

<!-- Modal -->
<div class="modal fade disclaimerModal" id="disclaimer" data-bs-backdrop="static" data-bs-keyboard="false"
tabindex="-1" aria-labelledby="disclaimerLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header" style="border: 0; padding-bottom: 0;">
            <button type="button" style="color: white; background-color: #B586FA;" class="btn-close"
                data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h1 class="text-center" style="font-weight: bold">DISCLAIMER</h1>
            <p>Shuffle entry is now open. You have until <%= disclaimer_date %> EST to submit your wallet code.</p>
            <p>It is free to enter the shuffle and 10 random winners will be selected. The winners will be
                announced shortly after registration closes.</p>
            <p>If you submit the same wallet code more than once it will only count as one entry.</p>
            <p>After the raffle each winner will be entitled to purchase a random Algo Starface NFT at <%= settings.nft_price %>A.</p>
            <p>Winners have 24hs to claim their Algo Starface NFT. If you are selected as a winner, you must
                fill out the form so that we can contact you.Thank you!</p>
            <p>Good luck to you all!</p>
        </div>
        <div class="modal-footer" style="border: inherit; padding-top: 0;">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                style="background-color:#B586FA">Understood</button>
        </div>
    </div>
</div>
</div>
<h1><%= date %></h1>
<script>
  let inputDate = document.querySelector('#shuffle_date')
  // Set the date we're counting down to
  date = new Date(inputDate.value + " EST");
  let countDownDate = new Date(date).getTime();
  countDownDate = parseInt(countDownDate)
  // Update the count down every 1 second
  let x = setInterval(function () {
  // Get today's date and time
  let now = new Date().getTime();

  // Find the distance between now and the count down date
  let distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  let days = Math.floor(distance / (1000 * 60 * 60 * 24));
  let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  let seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("days").innerText = days;
  document.getElementById("hours").innerText = hours;
  document.getElementById("minutes").innerText = minutes;
  document.getElementById("seconds").innerText = seconds;

  if (distance < 0) {
    clearInterval(x);
    document.getElementById("days").innerText = "0";
    document.getElementById("hours").innerText = "0";
    document.getElementById("minutes").innerText = "0";
    document.getElementById("seconds").innerText = "0";
  }
}, 1000);
</script>
<script src="/twitter_send.js"></script>