<section class="admin">
  <img class="logo" src="./logo.png" alt="">
  <h1 class="text-center mt-3">Participants:</h1>
  <table class="table" id="usersTable">
    <p class="text-center" style="color: #b586fa">Total Participants: <strong><%= totalParticipants %></strong></p>
    <thead>
      <tr>
        <th scope="col">Wallet Id</th>
        <th scope="col">Twitter Username</th>
        <th scope="col">Winner Status</th>
      </tr>
    </thead>
    <tbody>
      <% for( let index = 0; index < users.length; index++ ) { %>
        <tr>
          <td><%= users[index].walletId %></td>
          <td><%= users[index].twitter_username %></td>
          <td>
            <p style="display: none;"><%= users[index].winner %> </p>
            <select class="form-select" name="winnerStatus[<%= index %>]">
              <% if (users[index].winner) { %>
                <option value="<%= users[index].walletId %>:true" selected>True</option>
                <option value="<%= users[index].walletId %>:false">False</option>
              <% } else { %>
                <option value="<%= users[index].walletId %>:true">True</option>
                <option value="<%= users[index].walletId %>:false" selected>False</option>
              <% } %>
            </select>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
  <button class="btn btn-lg" id="editUsersBtn">Save</button>
  <hr>
  <p><strong>Other Configurations: (Doing)</strong></p>
  <form action="/download-users" method="post">

    <button class="btn" type="submit">Get Winners</button>
  </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

<script>
let table = $('#usersTable').DataTable();
//sacamos la url para los fetchs
let url = window.location.href
url = url.split('/users')
const editUsersBtn = document.querySelector('#editUsersBtn')
const updateUsers = () => {
  Swal.fire({
    title: 'Are you sure?',
    text: "You won't be able to revert this!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, update the shuffle!'
}).then((result) => {
    if (result.isConfirmed) {
      data = []
      const selects = document.querySelectorAll('.form-select');
      selects.forEach(select => {
        var i = select.options.selectedIndex;
        const user = select.options[i].value 
        let usersValue = user.split(":")
        usersValue = {
          "walletId": usersValue[0],
          "winnerStatus": usersValue[1]
        }
        console.log(usersValue)
        data.push(usersValue)
      });
      fetch(url[0] + '/users', {
          method: 'PUT', // or 'PUT'
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
      })
          .then(data => {
              console.log('Success:', data);
          })
          .then(
              Swal.fire(
                  'Success!',
                  'The shuffle has been u successfully.',
                  'success'
              )
          )
          .catch((error) => {
              console.error('Error:', error);
          });
    }
})
};
editUsersBtn.addEventListener('click', updateUsers)
</script>